<section id="course_all" class="padding-bottom">
    <div class="container">
        <div class="row padding-top">
            <div class="col-md-6"></div>
            <form class="total_form" th:action="@{/searchGradesAndSubjects}" th:name="searchGradesAndSubjects" th:id="searchGradesAndSubjects" method="post">
                <div class="col-md-2 wow fadeInLeft" data-wow-delay="300ms">
                    <div class="form-group">
                        <label class="select">
                            <select name="grade" id="grade">
                                <option value="null">所有年级</option>
                                <option value="小学一年级">小学一年级</option>
                                <option value="小学二年级">小学二年级</option>
                                <option value="小学三年级">小学三年级</option>
                                <option value="小学四年级">小学四年级</option>
                                <option value="小学五年级">小学五年级</option>
                                <option value="小学六年级">小学六年级</option>
                                <option value="初一">初一</option>
                                <option value="初二">初二</option>
                                <option value="初三">初三</option>
                                <option value="高一">高一</option>
                                <option value="高二">高二</option>
                                <option value="高三">高三</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="col-md-2 wow fadeInLeft" data-wow-delay="300ms">
                    <div class="form-group">
                        <label class="select">
                            <select name="subject" id="subject">
                                <option value="null">所有科目</option>
                                <option value="语文">语文</option>
                                <option value="数学">数学</option>
                                <option value="英语">英语</option>
                                <option value="生物">生物</option>
                                <option value="物理">物理</option>
                                <option value="化学">化学</option>
                                <option value="历史">历史</option>
                                <option value="地理">地理</option>
                                <option value="政治">政治</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="col-md-2 wow fadeInLeft" data-wow-delay="300ms" style="float: right">
                    <button class="btn_common blue border_radius" id="screen">筛选</button>
                </div>
            </form>
        </div>

        <div class="row top20">
            <div th:each="detail, detailStat : ${session.details}" class="col-sm-4 col-md-3">
                <div class="widget heading_space" style="padding-right: 20%">
                    <h4 class="bottom20" th:text="'要求:' + ${detail.gender} + ' ' + ${detail.experience} + ' ' + ${detail.qualification}">要求</h4>
                    <p class="hours">任教年级<span th:text="${detail.grade}">XXX</span></p>
                    <p class="hours">任教科目<span th:text="${detail.subject}">XXX</span></p>
                    <p class="hours">任教时间：<span th:text="${detail.teachingTime}" style="margin-bottom: 15px;">XXX</span></p>
                    <p class="hours">任教地点：<span th:text="${detail.address}" style="margin-bottom: 15px; width: 100%;">XXX</span></p>
                    <p class="hours">价格<span th:text="${detail.price}">XXX</span></p>
                    <div style="float: left">
                        <input type="hidden" name="detail_id" th:value="${detail.id}">
                        <button class="btn border_radius text-uppercase" style="font-size: 10px; font-weight: bold; color: #fff; padding: 5px 10px; background: #f57246;">详情</button>
                    </div>
                    <div style="float: right">
                        <input type="hidden" th:id="'应聘' + ${detail.id}" th:value="${detail.id}">
                        <button onclick="applyForTutor(this)" class="btn border_radius text-uppercase" style="font-size: 10px; font-weight: bold; color: #fff; padding: 5px 10px; background: #f57246;">应聘</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>