<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>context</th>
            <th>操作</th>
        </tr>
        <tr th:each="detail, detailStat : ${session.details}">
            <td th:text="${detail.id}"></td>
            <td th:text="${detail.context}"></td>
            <td>
                <form th:action="@{/applyForTutor}" th:name="${detail.id}" th:id="${detail.id}" method="post">
                    <input type="hidden" name="detail_id" th:value="${detail.id}">
                </form>
                <button onclick="applyForTutor(this)">应聘</button>
            </td>
        </tr>
    </table>
</body>

    <script type="text/javascript">
        function applyForTutor(element) {
            var node = element.parentNode.parentNode;
            var id = node.children[2].children[0].getAttribute("id");
            alert(document.getElementsByName("detail_id")[0].value);
            document.getElementById(id).submit();
        }
    </script>

</html>