<body>
<div class="loader">
    <div class="bouncybox">
        <div class="bouncy"></div>
    </div>
</div>

<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <span class="info"><i class="icon-phone2"></i>123456789</span>
                    <span class="info"><i class="icon-mail"></i>123@qq.com</span>
                </div>
                <ul class="social_top pull-right">
                    <li><a href="" style="width: 100%;" th:text="${session.person.username}"></a></li>
                    <li><a style="width: 100%;" th:text="${session.province}"></a></li>
                    <li><a style="width: 100%;" th:text="${session.city}"></a></li>
                    <li>
                    <form th:action="@{/logout}" method="post" id="logout" style="background: rgba(255, 255, 255, 0);">
                        <button id="submit" class="btn" style="border-right: 1px solid #3f3f3f;
                        display: block;
                        font-size: 16px;
                        height: 40px;
                        line-height: 30px;
                        padding: 5px;
                        text-align: center;
                        width: 100%;
                        background: rgba(255, 255, 255, 0);">退出登录</button>
                    </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<header>
    <nav class="navbar navbar-default navbar-fixed white no-background bootsnav">
        <div class="container">
            <div class="search_btn btn_common"><i class="icon-icons185"></i></div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href=""><img src="" alt="logo" class="logo logo-display">
                    <img src="" class="logo logo-scrolled" alt="">logo
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOut">
                    <li><a href="/home">主页</a></li>
<!--                    <li class="dropdown">-->
<!--                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" >家长信息</a>-->
<!--                        <ul class="dropdown-menu">-->
<!--                            <li><a href="">按评分分类</a></li>-->
<!--                            <li><a href="">按年级分类</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
                    <li><a href="/findAllApplicants">应聘信息</a></li>
                    <li><a href="">通知中心</a></li>
                    <li><a href="/personalCenter">个人中心</a></li>
                    <li><a href="">联系我们</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="Search here...."  required/>
        <button type="submit" class="btn btn_common blue">Search</button>
    </form>
</div>

<section class="page_header padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-content">
                <h1>XXX</h1>
                <p>XXX</p>
                <div class="page_nav">
                    <th:block th:if="${session.code == 0}">
                        <span>You are here: &nbsp;&nbsp;&nbsp;&nbsp;</span><span>主页</span>
                    </th:block>
                    <th:block th:if="${session.code == 1}">
                        <span>You are here:</span>
                        <a href="/home">主页</a>
                        <span><i class="fa fa-angle-double-right"></i>个人中心</span>
                    </th:block>
                    <th:block th:if="${session.code == 2}">
                        <span>You are here:</span>
                        <a href="/home">主页</a>
                        <span><i class="fa fa-angle-double-right"></i>应聘信息</span>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</section>