<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}">-->
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/edua-icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/animate.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/owl.carousel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/owl.transitions.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/cubeportfolio.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/settings.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/bootsnav.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/loader.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/toast.css}">
    <link rel="icon" href="">
</head>
<body>
    <div th:include="/student/head"></div>
    <div class="container">
        <div class="row">
            <th:block th:if="${session.code == 0}">
                <div class="col-md-9 padding" th:include="/left"></div>
                <div class="col-md-3" th:include="/right"></div>
            </th:block>
            <th:block th:if="${session.code == 1}">
                <div class="col-md-3 padding" th:include="/catalog"></div>
                <th:block th:switch="${session.number == 0}">
                    <div th:case="true" class="col-md-9" th:include="/personal_information"></div>
                        <th:block th:case="false">
                            <th:block th:switch="${session.number == 7}">
                                <div th:case="true" class="col-md-9 padding" th:include="/parent/release_detail"></div>
                                <div th:case="false" class="col-md-9 padding " th:include="/table"></div>
                            </th:block>
                        </th:block>
                    </th:block>
                </th:block>
            </th:block>
            <th:block th:if="${session.code == 2}">
                <div th:include="/student/all_applicants"></div>
            </th:block>
            <th:block th:if="${session.code == 3}">
                <div th:include="/information"></div>
            </th:block>
            <th:block th:if="${session.code == 4}">

            </th:block>
            <th:block th:if="${session.code == 5}">
                <div th:include="/parent/all_students"></div>
            </th:block>
        </div>
    </div>
    <div th:include="/websocket"></div>
<!--    <div th:if="${session.code == 11}">-->
<!--        <div th:include="/student/find_details"></div>-->
<!--    </div>-->
<!--    <div th:if="${session.code == 12}">-->
<!--        <div th:include="/student/application_result"></div>-->
<!--    </div>-->
<!--    <div th:include="/websocket"></div>-->


    <script th:src="@{/webjars/stomp-websocket/2.3.3-1/stomp.js}"></script>
    <script th:src="@{/webjars/sockjs-client/1.1.2/sockjs.js}"></script>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<!--    <script th:src="@{js/jquery-2.2.3.js}"></script>-->
    <script th:src="@{/webjars/popper.js/2.0.2/umd/popper.js}"></script>

    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/bootsnav.js}"></script>
    <script th:src="@{js/jquery.appear.js}"></script>
    <script th:src="@{js/jquery-countTo.js}"></script>
    <script th:src="@{js/jquery.parallax-1.1.3.js}"></script>
    <script th:src="@{js/owl.carousel.min.js}"></script>
    <script th:src="@{js/jquery.cubeportfolio.min.js}"></script>
    <script th:src="@{js/jquery.themepunch.tools.min.js}"></script>
    <script th:src="@{js/jquery.themepunch.revolution.min.js}"></script>
    <script th:src="@{js/revolution.extension.layeranimation.min.js}"></script>
    <script th:src="@{js/revolution.extension.navigation.min.js}"></script>
    <script th:src="@{js/revolution.extension.parallax.min.js}"></script>
    <script th:src="@{js/revolution.extension.slideanims.min.js}"></script>
    <script th:src="@{js/revolution.extension.video.min.js}"></script>
    <script th:src="@{js/wow.min.js}"></script>
    <script th:src="@{js/functions.js}"></script>
    <script th:src="@{js/action.js}"></script>

</body>
</html>