
<aside class="sidebar bg_grey border-radius wow fadeIn" data-wow-delay="300ms">
    <div class="widget heading_space">
        <h3 class="bottom20">目录</h3>
        <th:block th:switch="${session.role == '学生'}">
            <th:block th:case="true">
                <a href="/personalCenter" class="hours">资料</a><br>
                <a href="/viewAll" class="hours">全部应聘</a><br>
                <a href="/accepted" class="hours">被接受应聘</a><br>
                <a href="/untreated" class="hours">未处理应聘</a><br>
            </th:block>
            <th:block th:case="false">

            </th:block>
        </th:block>
    </div>
</aside>