
<section id="shop">
    <div class="container">
        <div class="row">
            <div class="col-md-9 wow fadeInLeft" data-wow-delay="300ms">
                <div class="border-radius totals margin_tophalf">
                    <form class="total_form">
                    <th:block th:switch="${session.role == '学生'}">

                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <div class="text-center" style="float: left;">
                                        <p style="margin-top: 10px;">昵称：</p>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="username" class="form-control" style="width: 80%;" placeholder="昵称" required>
                                    </div>
                                </div>
                                <div class="col-md-4 text-right">
                                    <div class="text-center" style="float: left;">
                                        <p style="margin-top: 10px;">姓名：</p>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="name" class="form-control" style="width: 80%;" placeholder="真实姓名" required>
                                    </div>
                                </div>
                                <div class="col-md-4 text-right">
                                    <div class="text-center" style="float: left;">
                                        <p style="margin-top: 10px;">年龄：</p>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="age" class="form-control" style="width: 80%;" placeholder="年龄" required>
                                    </div>
                                </div>
                            </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="text-cenrter" style="float: left;">
                                    <p style="margin-top: 10px;">性别：</p>
                                </div>
                                <div class="form-check form-check-inline" style="float: left; margin-left: 10%;">
                                    <div style="float: left;">
                                        <input class="form-check-input" style="margin: 0;" type="radio" name="gender" value="男">
                                    </div>
                                    <div style="float: left;">
                                        <p style="margin-top: 10px; padding-left: 10px;">男</p>
                                    </div>
                                </div>
                                <div class="form-check form-check-inline" style="float: right; margin-right: 10%;">
                                    <div style="float: left;">
                                        <input class="form-check-input" style="margin: 0;" type="radio" name="gender" value="女">
                                    </div>
                                    <div style="float: left;">
                                        <p style="margin-top: 10px; padding-left: 10px;">女</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <th:block th:case="true">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="text-cenrter" style="float: left;">
                                        <p style="margin-top: 10px;">学历：</p>
                                    </div>
                                    <div class="form-group">
                                        <label class="select">
                                            <select name="qualification" id="qualification">
                                                <option>XXX</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-2" style="padding-right: 0;" >
                                    <p>擅长科目：</p>
                                </div>
                                <div class="col-md-4" style="padding: 0;">
                                    <div class="form-group">
                                        <p style="line-height: 25px; text-align: left;" >
                                            初一：语文、数学、英语、政治、历史、化学、物理<br>
                                            小学二年级：语文、数学<br><br>
                                            <button class="btn btn-warning">点击选择</button>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2" style="padding-right: 0; border-left: 1px dashed rgb(134, 131, 131);" >
                                    <p>空闲时间：</p>
                                </div>
                                <div class="col-md-4" style="padding: 0;">
                                    <div class="form-group">
                                        <div id="timeSelected"></div>
                                        <p style="line-height: 25px; text-align: left;" >
                                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter">点击选择</button>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </th:block>

                            <div class="row">
                                <div class="col-md-12">
                                    <p style="margin-top: 10px;">省市区</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="select">
                                            <select name="province" id="province">
                                                <option value="0">--请选择--</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="select">
                                            <select name="city" id="city">
                                                <option value="0">--请选择--</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="select">
                                            <select name="area" id="area">
                                                <option value="0">--请选择--</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-md-12">
                                <textarea style="width: 100%;  min-height: 100px;" placeholder="详细地址" id="detailedAddress"></textarea>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn_common blue border_radius" id="change">修改</button>
                                </div>
                            </div>

                    </th:block>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">选择空闲时间</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="week" style="border-bottom: 1px solid #dee2e6;">
                <div class="week choice"><p style="margin: 8px;">周一</p></div>
            </div>
            <div class="modal-body" id="weekTime" style="border-bottom: 1px solid #dee2e6;"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="chooseFreeTime" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>