<section id="shop" class="padding">
    <div class="container">
        <div class="row">
            <div class=" col-md-3">
                <aside class="sidebar bg_grey border-radius wow fadeIn" data-wow-delay="300ms">
                    <div class="widget heading_space">
                        <h3 class="bottom20">目录</h3>
                        <a href="" class="hours">
                            系统
                            <th:block th:if="${session.messageNumber != 0}">
                                <span style="border-radius: 50%; height: 20px; width: 20px; display: inline-block; background: #ff0c0c;">
                                    <span th:text="${session.messageNumber}" style="display: block; color: #FFFFFF; height: 20px; line-height: 20px; text-align: center"></span>
                                </span>
                            </th:block>
                        </a><br>
                        <a href="" class="hours">用户</a><br>
                    </div>
                </aside>
            </div>
            <div class="col-md-6">
                <div class="border-radius totals" th:each="message : ${session.messages}">
                    <h5>系统通知</h5>
                    <table class="table table-responsive" style="margin: 0; padding: 0;">
                        <tbody>
                        <th:block th:switch="${message.message == '取消'}">
                            <tr th:case="true">
                                <th:block th:switch="${session.role == '学生'}">
                                    <td th:case="true" style="padding: 0; margin: 0;" th:text="'您取消了去' + ${message.getParent().username} + '的应聘'">XXX</td>
                                    <td th:case="false" style="padding: 0; margin: 0;" th:text="${message.getStudent().username} + '取消了的应聘'">XXX</td>
                                </th:block>
                                <td class="text-right" style="padding: 0; margin: 0;">
                                    <input type="hidden" name="message_id" th:value="${message.id}">
                                    <strong th:text="${message.date}">2020</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button onclick="deleteInformation(this)" class="btn-close" style="background: rgba(255, 255, 255, 0);border-width: 0;outline:none;">
                                        <strong style="color: red;">×</strong>
                                    </button>
                                    <th:block th:if="${!message.state}">
                                        <button onclick="readInformation(this)" class="btn-close" style="background: rgba(255, 255, 255, 0);border-width: 0;outline:none;">
                                            <strong style="color: rgba(0, 189, 0, 0.534);">✔</strong>
                                        </button>
                                    </th:block>
                                </td>
                            </tr>
                            <tr th:case="false">
                                <th:block th:switch="${session.role == '学生'}">
                                    <td th:case="true" style="padding: 0; margin: 0;" th:text="${message.getParent().username} + ${message.message} + '了您的应聘'">XXX</td>
                                    <td th:case="false" style="padding: 0; margin: 0;" th:text="'您' + ${message.message} + ${message.getStudent().username} + '的应聘'">XXX</td>
                                </th:block>
                                <td class="text-right" style="padding: 0; margin: 0;">
                                    <input type="hidden" name="message_id" th:value="${message.id}">
                                    <strong th:text="${message.date}">2020</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button onclick="deleteInformation(this)" class="btn-close" style="background: rgba(255, 255, 255, 0);border-width: 0;outline:none;">
                                        <strong style="color: red;">×</strong>
                                    </button>
                                    <th:block th:if="${!message.state}">
                                        <input type="hidden" name="message_id" th:value="${message.id}">
                                        <button onclick="readInformation(this)" class="btn-close" style="background: rgba(255, 255, 255, 0);border-width: 0;outline:none;">
                                            <strong style="color: rgba(0, 189, 0, 0.534);">✔</strong>
                                        </button>
                                    </th:block>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>