<section id="course_all" class="padding-bottom-half padding-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 course_detail wow fadeIn" data-wow-delay="400ms">
                <div class="profile_bg heading_space">
                    <h3 class="bottom20">个人资料</h3>
                    <div style="float: left; padding-right: 5%;"><img src="images/profile1.png" alt="Course"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="widget">
                                <p class="hours">昵称：<span th:text="${session.user.username}">XXX</span></p>
                                <p class="hours">年龄：<span th:text="${session.user.age}">XXX</span></p>
                                <th:block th:switch="${session.role == '学生'}">
                                    <th:block th:case="true">
                                        <p class="hours">学历：<span th:text="${session.user.qualification}">XXX</span></p>
                                        <p class="hours">擅长科目：
                                            <span>
                                            <button type="button" class="btn btn-warning" style="font-size: 8px; padding: 3px; outline: none; background: #f57246;" data-toggle="modal" data-target="#viewGoodAtSubjects">点击查看</button>
                                            </span>
                                        </p>
                                    </th:block>
                                    <th:block th:case="false">
                                        <p class="hours">孩子成绩情况：<span th:text="${session.user.achievements}">XXX</span></p>
                                    </th:block>
                                </th:block>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <div class="widget">
                                <p class="hours">姓名：<span th:text="${session.user.name}">XXX</span></p>
                                <p class="hours">性别：<span th:text="${session.user.gender}">XXX</span></p>
                                <p class="hours">手机号码：<span th:text="${session.user.phone}">XXX</span></p>
                                <th:block th:switch="${session.role == '学生'}">
                                    <p th:case="true" class="hours">空闲时间：
                                        <span>
                                            <button type="button" class="btn btn-warning" style="font-size: 8px; padding: 3px; outline: none; background: #f57246;" data-toggle="modal" data-target="#viewFreeTime">点击查看</button>
                                        </span>
                                    </p>
                                </th:block>
                                <p class="hours">评分：<span th:text="${session.user.score}">XXX</span></p>
                            </div>
                        </div>
                    </div>
                    <div style="float: left; width: 18%;height: 1px;"></div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="widget">
                                <p class="hours">居住地：<span th:text="${session.user.provinceAndCity} + ${session.user.address}">XXX</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="profile_text" style="padding-left: 2%;">
                            <h5><strong>介绍</strong></h5>
                            <p>XXX</p>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 2%;">
                        <div class="col-md-5">
                            <div class="widget heading_space">
                                <p class="hours">应聘次数：<span th:text="${session.taskNumber}">XXX</span></p>
                            </div>
                        </div>
                        <th:block th:switch="${session.role == '家长'}">
                            <th:block th:case="true">
                                <div class="col-md-2"></div>
                                <div class="col-md-5">
                                    <div class="widget heading_space">
                                        <p class="hours">发布请家教次数：<span th:text="${session.allDetailNumber}">XXX</span></p>
                                    </div>
                                </div>
                            </th:block>
                        </th:block>
                    </div>
                    <div class="row" style="padding-right: 2%;">
                        <div class="col-md-5">
                            <div class="widget heading_space">
                                <p class="hours">拒绝次数：<span th:text="${session.refuseTime}">XXX</span></p>
                                <p class="hours">取消次数：<span th:text="${session.cancelTime}">XXX</span></p>
                                <p class="hours">成功次数：<span th:text="${session.successTime}">XXX</span></p>
                                <p class="hours">接受次数：<span th:text="${session.acceptTime}">XXX</span></p>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <div class="widget heading_space">
                                <th:block th:switch="${session.taskNumber == 0}">
                                    <th:block th:case="true">
                                        <p class="hours">拒绝率：<span>0</span></p>
                                        <p class="hours">取消率：<span>0</span></p>
                                        <p class="hours">成功率：<span>0</span></p>
                                        <p class="hours">接受率：<span>0</span></p>
                                    </th:block>
                                    <th:block th:case="false">
                                        <p class="hours">拒绝率：<span th:text="${session.refuseRate * 100} + '%'">XXX</span></p>
                                        <p class="hours">取消率：<span th:text="${session.cancelRate * 100} + '%'">XXX</span></p>
                                        <p class="hours">成功率：<span th:text="${session.successRate * 100} + '%'">XXX</span></p>
                                        <p class="hours">接受率：<span th:text="${session.acceptRate * 100} + '%'">XXX</span></p>
                                    </th:block>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<th:block th:if="${session.role == '学生'}">
    <div class="modal fade" id="viewFreeTime" tabindex="-1" role="dialog" aria-labelledby="gviewFreeTimeTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewFreeTimeTitle">空闲时间</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p th:text="${session.user.freeTime}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="viewGoodAtSubjects" tabindex="-1" role="dialog" aria-labelledby="viewGoodAtSubjectsTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewGoodAtSubjectsTitle">空闲时间</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p th:text="${session.user.goodAtSubjects}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>
</th:block>