<section id="course_all" class="padding-bottom-half">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 course_detail wow fadeIn" data-wow-delay="400ms">
                <div class="profile_bg heading_space">
                    <h3 class="bottom20">个人介绍</h3>
                    <div class="profile">
                        <div class="p_pic"><img src="images/default.jpg" alt="Course"></div>
                        <div class="profile_text">
                            <h5><strong th:text="${session.otherUser.username}">昵称</strong>  -  <span>排行榜第一</span></h5>
                            <p>介绍</p>
                            <ul class="social_icon black top20">
                                <li><a href="" class="facebook">XXX</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="reviews">
                    <h3 class="bottom20">统计</h3>
                    <div class="row">
                        <div class="col-sm-4 heading_space">
                            <div class="review_left text-center">
                                <strong class="bottom5" th:text="${session.score}" id="score">XXX</strong>
                                <form class="star_rating bottom5">
                                    <div class="stars">
                                        <input type="radio" name="star" class="star-1" />
                                        <input type="radio" name="star" class="star-2" />
                                        <input type="radio" name="star" class="star-3" />
                                        <input type="radio" name="star" class="star-4" />
                                        <input type="radio" name="star" class="star-5" />
                                        <span></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-8 heading_space">
                            <div class="rating_progress">
                                <span>应聘数</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" id="taskNumberBar"></div>
                                </div>
                                <span id="taskNumberText" th:text="${session.taskNumber}">XXX</span>
                                <input type="hidden" th:value="${session.allDetailNumber}" id="allDetailNumber">
                                <div class="clearfix"></div>
                                <span>拒绝率</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" id="refuseTimeBar"></div>
                                </div>
                                <span id="refuseTimeText" th:text="${session.refuseRate * 100} + '%'">XXX%</span>
                                <div class="clearfix"></div>
                                <span>取消率</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" id="cancelTimeBar"></div>
                                </div>
                                <span id="cancelTimeText" th:text="${session.cancelRate * 100} + '%'">XXX%</span>
                                <div class="clearfix"></div>
                                <span>成功率</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" id="successTimeBar"></div>
                                </div>
                                <span id="successTimeText" th:text="${session.successRate * 100} + '%'">XXX%</span>
                                <div class="clearfix"></div>
                                <span>接受率</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" id="acceptTimeBar"></div>
                                </div>
                                <span id="acceptTimeText" th:text="${session.acceptRate * 100} + '%'">XXX%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile_border">
                    <div class="profile top20 bottom20">
                        <div class="p_pic"><img src="images/default.jpg" alt="Course"></div>
                        <div class="profile_text">
                            <h5><strong>昵称</strong>  -  <span>XXX</span></h5>
                            <p class="margin10">评价</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>