<section id="blog" class="padding">
    <aside class="sidebar bg_grey border-radius wow fadeIn" data-wow-delay="300ms">
        <div class="widget heading_space">
            <form class="widget_search border-radius">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Search Here" required>
                    <i class="input-group-addon icon-icons185"></i>
                </div>
            </form>
        </div>

        <div class="widget heading_space">
            <h3 class="bottom20">公告</h3>
            <p class="hours">标题<span>时间</span></p>
            <p class="hours"><span><a href="" class="border_radius text-uppercase">更多</a></span></p>
        </div>

        <div class="widget heading_space" style="padding-top: 20%;">
            <h3 class="bottom20">评分排行榜</h3>
            <th:block th:switch="${session.role == '学生'}">
                <div th:case="true" class="media">
                    <th:block th:each="parent : ${session.parents}">
                        <a class="media-left" href=""><img src="images/default.jpg" alt="post" style="width: 69px; height: 65px;"></a>

                        <div class="media-body">
                            <h5 class="bottom5" th:text="${parent.username}">昵称</h5>
                            <input type="hidden" th:value="${parent.score}" th:id="'score' + ${parentStat.count}">
                            <form class="star_rating" name="rankingList">
                                <div class="stars" name="rankingListStars">
                                    <input type="radio" class="star-1" />
                                    <input type="radio" class="star-2" />
                                    <input type="radio" class="star-3" />
                                    <input type="radio" class="star-4" />
                                    <input type="radio" class="star-5" />
                                    <span></span>
                                </div>
                            </form>
                        </div>
                    </th:block>
                </div>

                <div th:case="false" class="media">
                    <th:block th:each="student : ${session.rankingBangStudents}">
                        <a class="media-left" href=""><img src="images/default.jpg" alt="post" style="width: 69px; height: 65px;"></a>

                        <div class="media-body">
                            <h5 class="bottom5" th:text="${student.username}">昵称</h5>
                            <input type="hidden" th:value="${student.score}" th:id="'score' + ${studentStat.count}">
                            <form class="star_rating" name="rankingList">
                                <div class="stars" name="rankingListStars">
                                    <input type="radio" class="star-1" />
                                    <input type="radio" class="star-2" />
                                    <input type="radio" class="star-3" />
                                    <input type="radio" class="star-4" />
                                    <input type="radio" class="star-5" />
                                    <span></span>
                                </div>
                            </form>
                        </div>
                    </th:block>
                </div>

            </th:block>
        </div>
    </aside>
</section>