<div class="table-responsive">
    <table class="table table-bordered border-radius" style="border: none; border-top: 1px solid #ddd;;">
        <th:block th:switch="${session.role == '学生'}">

            <th:block th:case="true">
                <thead>
                    <tr>
                        <th>任教地点</th>
                        <th>任教年级及科目</th>
                        <th>任教时间</th>
                        <th>价格</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:if="${session.number == 1}">
                        <th:block th:switch="${session.tasks.size() == 0}">
                            <th:block th:case="false" th:each="task : ${session.tasks}">
                                <tr>
                                    <td>
                                        <div class="product-name">
                                            <p class="text-center" th:text="${task.getDetail().provinceAndCity}">地点</p>
                                            <p class="text-center" th:text="${task.getDetail().address}">地点</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p th:text="${task.getDetail().grade} + ${task.getDetail().subject}" class="text-center">
                                            小学一年级
                                        </p>
                                    </td>
                                    <td>
                                        <p class="quote text-center" th:text="${task.getDetail().teachingTime}">
                                            2020
                                        </p>
                                    </td>
                                    <td>
                                        <p class="text-center" th:text="${task.getDetail().price}">
                                            100.00/时
                                        </p>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="task_id" th:value="${task.id}">
                                        <button onclick="deleteTheApplication(this)" class="btn-close" style="background: rgba(255, 255, 255, 0);border-width: 0;outline:none;">
                                            <i class="icon-cross2" style="color: red;"></i>
                                        </button>
                                    </td>
                                </tr>
                            </th:block>

                            <tr th:case="true">
                                <td colspan="5" class="text-center">暂无</td>
                            </tr>

                        </th:block>
                    </th:block>

                    <th:block th:if="${session.number == 2}">
                        <th:block th:switch="${session.tasks.size() == 0}">
                            <th:block th:case="false">
                                <tr th:each="task : ${session.tasks}">
                                    <td>
                                        <div class="product-name">
                                            <p class="text-center" th:text="${task.getDetail().provinceAndCity}">地点</p>
                                            <p class="text-center" th:text="${task.getDetail().address}">地点</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p th:text="${task.getDetail().grade} + ${task.getDetail().subject}" class="text-center">
                                            小学一年级
                                        </p>
                                    </td>
                                    <td>
                                        <p class="quote text-center" th:text="${task.getDetail().teachingTime}">
                                            2020
                                        </p>
                                    </td>
                                    <td>
                                        <p class="text-center" th:text="${task.getDetail().price}">
                                            100.00/时
                                        </p>
                                    </td>
                                    <td class="text-center">
                                        <form th:action="@{/cancelTheApplication}" th:name="${task.id}" th:id="${task.id}" method="post">
                                            <input type="hidden" name="task_id" th:value="${task.id}">
                                        </form>
                                        <button class="btn-close" style="background: rgba(255, 255, 255, 0); border-width: 0; outline: none;">
                                            <i class="icon-cross2" style="color: red;"></i>
                                        </button>
                                    </td>
                                </tr>
                            </th:block>
                            <tr th:case="true">
                                <td colspan="5" class="text-center">暂无</td>
                            </tr>
                        </th:block>
                    </th:block>

                    <th:block th:if="${session.number == 3}">
                        <th:block th:switch="${session.tasks.size() == 0}">
                            <th:block  th:case="false">
                                <tr th:each="task : ${session.tasks}">
                                    <td>
                                        <div class="product-name">
                                            <p class="text-center" th:text="${task.getDetail().provinceAndCity}">地点</p>
                                            <p class="text-center" th:text="${task.getDetail().address}">地点</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p th:text="${task.getDetail().grade} + ${task.getDetail().subject}" class="text-center">
                                            小学一年级
                                        </p>
                                    </td>
                                    <td>
                                        <p class="quote text-center" th:text="${task.getDetail().teachingTime}">
                                            2020
                                        </p>
                                    </td>
                                    <td>
                                        <p class="text-center" th:text="${task.getDetail().price}">
                                            100.00/时
                                        </p>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="task_id" th:value="${task.id}">
                                        <button onclick="cancelTheApplication(this)" class="btn-close" style="background: rgba(255, 255, 255, 0); border-width: 0; outline: none;">
                                            <i class="icon-cross2" style="color: red;"></i>
                                        </button>
                                    </td>
                                </tr>
                            </th:block>
                            <tr th:case="true">
                                <td colspan="5" class="text-center">暂无</td>
                            </tr>
                        </th:block>
                    </th:block>
                </tbody>
            </th:block>

            <th:block th:case="false">

                <th:block th:if="${session.number == 4}">
                <thead>
                    <tr>
                        <th>任教年级及科目</th>
                        <th>发布时间</th>
                        <th>任教时间</th>
                        <th>价格</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <th:block th:switch="${session.details.size() == 0}">
                    <th:block th:case="false">
                        <tr th:each="detail : ${session.details}">
                            <td>
                                <div class="product-name">
                                    <p class="text-center" th:text="${detail.grade}">年级</p>
                                    <p class="text-center" th:text="${detail.subject}">科目</p>
                                </div>
                            </td>
                            <td>
                                <p th:text="${detail.date}" class="text-center">
                                    2020
                                </p>
                            </td>
                            <td style="width: 45%;">
                                <p class="text-center" th:text="${detail.teachingTime}">
                                    2020
                                </p>
                            </td>
                            <td>
                                <p class="text-center" th:text="${detail.price}">
                                    50/时
                                </p>
                            </td>
                            <td class="text-center">
                                <input type="hidden" name="detail_id" th:value="${detail.id}">
                                <button onclick="deleteDetail(this)" class="btn-close" style="background: rgba(255, 255, 255, 0); border-width: 0; outline: none;">
                                    <i class="icon-cross2" style="color: red;"></i>
                                </button>
                            </td>
                        </tr>
                    </th:block>
                    <tr th:case="true">
                        <td colspan="5" class="text-center">暂无</td>
                    </tr>
                </th:block>
                </tbody>
                </th:block>

                <th:block th:if="${session.number == 5}">
                    <thead>
                    <tr>
                        <th>昵称</th>
                        <th>学历</th>
                        <th>擅长科目</th>
                        <th>年龄</th>
                        <th>性别</th>
                        <th></th>
                    </tr>
                    </thead>
                    <th:block th:each="detail : ${session.details}">

                        <tbody>

                    <tr>
                        <td class="text-center" colspan="6" th:text="'“年级为：' + ${detail.grade} + '，科目为：' + ${detail.subject} + '，价格为：' + ${detail.price} + '”的应聘'"></td>
                    </tr>

                    <th:block th:switch="${detail.getTasks().size() != 0}">

                        <th:block th:case="true">

                            <th:block th:with="number = ${#httpServletRequest.setAttribute('number1', detail.getTasks().size())}">

                                <th:block th:each="task : ${detail.getTasks()}" th:switch="${task.result == '未处理'}">

                                    <tr th:case="true">

<!--                                    <table class="table table-bordered border-radius text-center">-->

                                        <td>
                                            <p>
                                                <a th:href="'/introductionPage?id=' + ${task.getStudent().getUser().id}" th:text="${task.getStudent().username}">
                                                    昵称
                                                </a>
                                            </p>
                                        </td>
                                        <td>
                                            <p th:text="${task.getStudent().qualification}" class="text-center">
                                                学历
                                            </p>
                                        </td>
                                        <td>
                                            <p class="quote text-center" th:text="${task.getStudent().goodAtSubjects}">
                                                擅长科目
                                            </p>
                                        </td>
                                        <td>
                                            <p class="text-center" th:text="${task.getStudent().age}">
                                                年龄
                                            </p>
                                        </td>
                                        <td>
                                            <p class="text-center" th:text="${task.getStudent().gender}">
                                                性别
                                            </p>
                                        </td>
                                        <td class="text-center">
                                            <input type="hidden" name="task_id" th:value="${task.id}">
                                            <button onclick="enterTheInterview(this)" class="btn-close" style="background: rgba(255, 255, 255, 0);border-width: 0;outline:none;">
                                                <strong style="color: rgba(0, 189, 0, 0.534);">✔</strong>
                                            </button>
                                            <button onclick="refuseEntry(this)" class="btn-close" style="background: rgba(255, 255, 255, 0); border-width: 0; outline: none;">
                                                <i class="icon-cross2" style="color: red;"></i>
                                            </button>
                                        </td>

<!--                                    </table>-->
                                    </tr>

                                    <th:block th:case="false">

                                        <th:block th:with="number = ${#httpServletRequest.setAttribute('number1', #httpServletRequest.getAttribute('number1') - 1)}" th:switch="${number1 == 0}">

<!--                                            <div th:case="true">暂无学生应聘</div>-->
                                            <tr th:case="true">
                                                <td colspan="6" class="text-center">暂无学生应聘</td>
                                            </tr>

                                        </th:block>

                                    </th:block>

                                </th:block>

                            </th:block>

                        </th:block>

                        <tr th:case="false" >
                            <td colspan="6" class="text-center">暂无学生应聘</td>
                        </tr>
                        <tr>
                            <td colspan="6" style="border: none;"></td>
                        </tr>
<!--                        <div th:case="false"></div>-->

                    </th:block>
                        </tbody>

                    </th:block>

                </th:block>

                <th:block th:if="${session.number == 6}">
                    <thead>
                    <tr>
                        <th>昵称</th>
                        <th>学历</th>
                        <th>擅长科目</th>
                        <th>年龄</th>
                        <th>性别</th>
                        <th></th>
                    </tr>
                    </thead>
                    <th:block th:each="detail : ${session.details}">

                    <tbody>

                    <tr>
                        <td class="text-center" colspan="6" th:text="'“年级为：' + ${detail.grade} + '，科目为：' + ${detail.subject} + '，价格为：' + ${detail.price} + '”的应聘'"></td>
                    </tr>

                    <th:block th:switch="${detail.getTasks().size() != 0}">

                        <th:block th:case="true">

                            <th:block th:with="number = ${#httpServletRequest.setAttribute('number1', detail.getTasks().size())}">

                                <th:block th:each="task : ${detail.getTasks()}" th:switch="${task.result == '接受'}">

                                    <tr th:case="true">

                                        <td>
                                            <p>
                                                <a th:href="'/introductionPage?id=' + ${task.getStudent().getUser().id}" th:text="${task.getStudent().username}">
                                                    昵称
                                                </a>
                                            </p>
                                        </td>
                                        <td>
                                            <p th:text="${task.getStudent().qualification}" class="text-center">
                                                学历
                                            </p>
                                        </td>
                                        <td>
                                            <p class="quote text-center" th:text="${task.getStudent().goodAtSubjects}">
                                                擅长科目
                                            </p>
                                        </td>
                                        <td>
                                            <p class="text-center" th:text="${task.getStudent().age}">
                                                年龄
                                            </p>
                                        </td>
                                        <td>
                                            <p class="text-center" th:text="${task.getStudent().gender}">
                                                性别
                                            </p>
                                        </td>
                                        <td class="text-center">
                                            <input type="hidden" name="task_id" th:value="${task.id}">
                                            <button onclick="refuseEntry(this)" class="btn-close" style="background: rgba(255, 255, 255, 0); border-width: 0; outline: none;">
                                                <i class="icon-cross2" style="color: red;"></i>
                                            </button>
                                        </td>

                                    </tr>

                                    <th:block th:case="false">

                                        <th:block th:with="number = ${#httpServletRequest.setAttribute('number1', #httpServletRequest.getAttribute('number1') - 1)}" th:switch="${number1 == 0}">

                                            <tr th:case="true">
                                                <td colspan="6" class="text-center">暂无学生应聘</td>
                                            </tr>

                                        </th:block>

                                    </th:block>

                                </th:block>

                            </th:block>

                        </th:block>

                        <tr th:case="false" >
                            <td colspan="6" class="text-center">暂无学生应聘</td>
                        </tr>
                        <tr>
                            <td colspan="6" style="border: none;"></td>
                        </tr>

                    </th:block>

                    </tbody>

                    </th:block>

                </th:block>

        </th:block>
        </th:block>
    </table>
</div>