<!--
  Created by IntelliJ IDEA.
  User: ASUS
  Date: 2020/2/5
  Time: 14:27
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:each="detail : ${session.parent.getDetails()}">
        <div th:text="${detail.id}"></div>
        <th:block th:switch="${detail.getTasks().size() != 0}">
            <th:block th:case="true">
                <th:block th:with="number = ${#httpServletRequest.setAttribute('number1', detail.getTasks().size())}">
                    <th:block th:each="task : ${detail.getTasks()}" th:switch="${task.whetherToPass ne '是'}">
                        <th:block th:case="true">
                            <table border="1">
                                <tr>
                                    <th>ID</th>
                                    <th>phone</th>
                                    <th>操作</th>
                                </tr>
                                <tr>
                                    <td th:text="${task.getStudent().id}"></td>
                                    <td th:text="${task.getStudent().phone}"></td>
                                    <td>
                                        <form th:action="@{/enterTheInterview}" th:name="${task.id}" th:id="'接受' + ${task.id}" method="post">
                                            <input type="hidden" name="task_id" th:value="${task.id}">
                                        </form>
                                        <form th:action="@{/refuseEntry}" th:name="${task.id}" th:id="'拒绝' + ${task.id}"  method="post">
                                            <input type="hidden" name="task_id" th:value="${task.id}">
                                        </form>
                                        <button onclick="enterTheInterview(this)">接受</button>
                                        <button onclick="refuseEntry(this)">拒绝</button>
                                    </td>
                                </tr>
                            </table>
                        </th:block>
                        <th:block th:case="false">
                            <th:block th:with="number = ${#httpServletRequest.setAttribute('number1', #httpServletRequest.getAttribute('number1') - 1)}" th:switch="${number1 == 0}">
                                <div th:case="true">暂无学生应聘</div>
                            </th:block>
                        </th:block>
                    </th:block>
                </th:block>
            </th:block>
            <div th:case="false">暂无学生应聘</div>
        </th:block>
    </th:block>
</body>

    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>

    <script type="text/javascript">
        function enterTheInterview(element) {
            var node = element.parentNode;
            var id = node.children[0].getAttribute("id");
            alert(document.getElementsByName("task_id")[0].value);
            document.getElementById(id).submit();
        }
        function refuseEntry(element) {
            var node = element.parentNode;
            var id = node.children[1].getAttribute("id");
            alert(document.getElementsByName("task_id")[1].value);
            document.getElementById(id).submit();
        }
    </script>

</html>