<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:include="/parent/head"></div>
    <div th:if="${session.code == 1}">
        <div th:include="/parent/release"></div>
    </div>
    <div th:if="${session.code == 2}">
        <div th:include="/parent/choice_student"></div>
    </div>
    <div th:include="/websocket"></div>
</body>

<script th:src="@{/webjars/stomp-websocket/2.3.3-1/stomp.js}"></script>
<script th:src="@{/webjars/sockjs-client/1.1.2/sockjs.js}"></script>
<script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script th:src="@{/webjars/popper.js/2.0.2/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.js}"></script>

</html>