<section id="shop">
    <div class="border-radius totals">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft" data-wow-delay="300ms" style="border-right: 1px dashed rgb(184, 184, 184);">
                <h3 class=" text-center bottom25">对家教要求</h3>
                <form class="total_form">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-cenrter" style="float: left;">
                                <p style="margin-top: 10px;">性别：</p>
                            </div>
                            <div class="form-check form-check-inline" style="float: left; margin-left: 10%;">
                                <div style="float: left;">
                                    <input class="form-check-input" style="margin: 0;" type="radio" name="gender" value="男">
                                </div>
                                <div style="float: left;">
                                    <p style="margin-top: 10px; padding-left: 10px;">男</p>
                                </div>
                            </div>
                            <div class="form-check form-check-inline" style="float: left; margin-left: 10%;">
                                <div style="float: left;">
                                    <input class="form-check-input" style="margin: 0;" type="radio" name="gender" value="女">
                                </div>
                                <div style="float: left;">
                                    <p style="margin-top: 10px; padding-left: 10px;">女</p>
                                </div>
                            </div>
                            <div class="form-check form-check-inline" style="float: left; margin-left: 10%;">
                                <div style="float: left;">
                                    <input class="form-check-input" style="margin: 0;" type="radio" name="gender" value="都可" checked>
                                </div>
                                <div style="float: left;">
                                    <p style="margin-top: 10px; padding-left: 10px;">都可</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-cenrter">
                                <p style="margin-top: 10px;">学历：</p>
                            </div>
                            <div class="form-group">
                                <label class="select">
                                    <select name="qualification" id="qualification">
                                        <option>所有学历</option>
                                        <option>本科及以上</option>
                                        <option>硕士及以上</option>
                                        <option>博士及以上</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-cenrter">
                                <p style="margin-top: 10px;">经验：</p>
                            </div>
                            <div class="form-group">
                                <label class="select">
                                    <select name="experience" id="experience">
                                        <option>无</option>
                                        <option>1月以上</option>
                                        <option>1年以上</option>
                                        <option>2年以上</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-right">
                            <div class="text-cenrter" style="float: left;">
                                <p style="margin-top: 10px;">其它要求</p>
                            </div>
                            <div class="form-group">
                                <textarea style="width: 100%;" placeholder="其它要求"  name="otherRequirement" id="otherRequirement"></textarea>
                            </div>
                        </div>
                    </div>

                </form>
            </div>


            <div class="col-md-6 wow fadeInLeft" data-wow-delay="300ms">

                <h3 class=" text-center bottom25">招家教信息</h3>
                <form class="total_form">

                    <div class="row">
                        <div class="col-md-4" >
                            <p>所教年级科目：</p>
                        </div>
                        <div class="col-md-8" style="padding: 0;">
                            <div class="form-group">
                                <p>
                                    <div id="teachingGradeAndSubjectSelected"></div>
                                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#selectTeachingGradeAndSubject">点击选择</button>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <p>任教时间:</p>
                        </div>
                        <div class="col-md-8" style="padding: 0;">
                            <div class="form-group">
                                <p>
                                    <div id="teachingTimeSelected"></div>
                                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#teachingTime">点击选择</button>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-cenrter" style="float: left;">
                                <p style="margin-top: 10px;">面试地点：</p>
                            </div>
                            <div class="form-check form-check-inline" style="float: left; margin-left: 10%;">
                                <div style="float: left;">
                                    <input class="form-check-input" style="margin: 0;" type="radio" name="place" id="address" value="address" checked>
                                </div>
                                <div style="float: left;">
                                    <p style="margin-top: 10px; padding-left: 10px;">居住地</p>
                                </div>
                            </div>
                            <div class="form-check form-check-inline" style="float: right; margin-right: 10%;">
                                <div style="float: left;">
                                    <input class="form-check-input" style="margin: 0;" type="radio" name="place" id="others" value="others">
                                </div>
                                <div style="float: left;">
                                    <p style="margin-top: 10px; padding-left: 10px;">其它</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12"><div id="otherDetailedAddress"></div></div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-cenrter" style="float: left;">
                                <p style="margin-top: 10px;">价格：</p>
                            </div>
                            <div class="form-check form-check-inline" style="float: left; margin-left: 10%;">
                                <div style="float: left;">
                                    <input class="form-check-input" style="margin: 0;" type="radio" name="price" id="hours" value="hours" checked>
                                </div>
                                <div style="float: left;">
                                    <p style="margin-top: 10px; padding-left: 10px;">以时数计算</p>
                                </div>
                            </div>
                            <div class="form-check form-check-inline" style="float: right; margin-right: 10%;">
                                <div style="float: left;">
                                    <input class="form-check-input" style="margin: 0;" type="radio" name="price" id="frequency" value="frequency">
                                </div>
                                <div style="float: left;">
                                    <p style="margin-top: 10px; padding-left: 10px;">以次数计算</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" id="price" class="form-control" placeholder="多少元" required>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <br>

        <div class="row">

            <div class="col-md-12 wow fadeInLeft text-center" data-wow-delay="300ms">
                <button id="release" class="btn_common blue border_radius" style="width: 20%;">发布</button>
            </div>

        </div>
    </div>
</section>

<div class="modal fade" id="selectTeachingGradeAndSubject" tabindex="-1" role="dialog" aria-labelledby="selectTeachingGradeAndSubjectTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectTeachingGradeAndSubjectTitle">选择任教年级和科目</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                <h5 style="text-align: right; font-size: 1px; color: rgb(179, 179, 179); padding: 1%;">*只能选择一个年级</h5>
            </div>
            <div class="modal-body" id="teachingGrade" style="border-bottom: 1px solid #dee2e6; padding-top: 0;">
                <div class="teachingGrade choiceTeachingGrade"><p style="margin: 8px;">小学一年级</p></div>
            </div>
            <div class="modal-body" id="teachingSubject" style="border-bottom: 1px solid #dee2e6;"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="confirmTeachingGradeAndSubject" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="teachingTime" tabindex="-1" role="dialog" aria-labelledby="teachingTimeTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="teachingTimeTitle">选择任教时间</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="week" style="border-bottom: 1px solid #dee2e6;">
                <div class="week choiceWeek"><p style="margin: 8px;">周一</p></div>
            </div>
            <div class="modal-body" id="weekTime" style="border-bottom: 1px solid #dee2e6;"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="chooseTeachingTime" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>